# Chapter 9: Files and Exeptions - Practice and Self Checks

#### Chapter 9.3 Processing Text Files

In [1]:
with open ('accounts.txt', mode='w') as accounts:
    accounts.write('100 Jones 24.98\n')
    accounts.write('200 Doe 345.67\n')
    accounts.write('300 White 0.00\n')
    accounts.write('400 Stone -42.16\n')
    accounts.write('500 Rich 224.62\n')
    accounts.write('650 Smith 1495.99\n')

#### Self Check 9.3

In [2]:
with open ('grades.txt', mode='w') as grades:
    grades.write('1 Red A\n')
    grades.write('2 Green B\n')
    grades.write('3 White A\n')

#### Chapter 9.3.2 Reading Data from a Text File

In [3]:
with open ('accounts.txt', mode='r') as accounts:
    print(f'{"Accounts":<10}{"Name":<10}{"Balance":>10}')
    for record in accounts:
        account, name, balance = record.split()
        print(f'{account:<10}{name:<10}{balance:>10}')

Accounts  Name         Balance
100       Jones          24.98
200       Doe           345.67
300       White           0.00
400       Stone         -42.16
500       Rich          224.62
650       Smith        1495.99

#### Self Check 9.3.2

In [4]:
with open ('grades.txt', mode ='r') as grades:
           print(f'{"ID":<4}{"Name":<7}{"Grade"}')
           for record in grades:
               ID, name, grade = record.split()
               print(f'{ID:<4}{name:<7}{grade}')

ID  Name   Grade
1   Red    A
2   Green  B
3   White  A

#### Chapter 9.4 Updating Text Files

In [5]:
accounts = open('accounts.txt', 'r')
temp_file = open('temp_file.txt', 'w')
with accounts, temp_file:
    for record in accounts:
        account, name, balance = record.split()
        if account != '300':
            temp_file.write(record)
        else:
            new_record = ' '.join([account, 'Williams', balance])
            temp_file.write(new_record + '\n')

In [6]:
import os

In [7]:
os.remove('accounts.txt')

In [8]:
os.rename('temp_file.txt', 'accounts.txt')

#### Self Check 9.4

In [9]:
accounts = open('accounts.txt', 'r')

In [10]:
temp_file = open('accounts_temp.txt', 'w')

In [11]:
with accounts, temp_file:
    for record in accounts:
        account, name, balance = record.split()
        if name != 'Doe':
            temp_file.write(record)
        else:
            new_record= ' '.join([account, 'Vore', balance])
            temp_file.write(new_record + '\n')

In [12]:
import os

In [13]:
os.remove('accounts.txt')

In [14]:
os.rename('accounts_temp.txt', 'accounts.txt')

#### Chapter 9.5 - Serialization with JSON

In [15]:
accounts_dict = {'accounts': [
                 {'account': 100, 'name': 'Jones', 'balance': 24.98},
                 {'account': 200, 'name': 'Vore', 'balance': 345.67}]}

In [16]:
import json

In [17]:
with open('accounts.json', 'w') as accounts:
    json.dump(accounts_dict, accounts)

In [18]:
with open('accounts.json', 'r') as accounts:
    accounts_json = json.load(accounts)

In [19]:
accounts_json

{'accounts': [{'account': 100, 'name': 'Jones', 'balance': 24.98},
  {'account': 200, 'name': 'Vore', 'balance': 345.67}]}

In [20]:
accounts_json['accounts']

[{'account': 100, 'name': 'Jones', 'balance': 24.98},
 {'account': 200, 'name': 'Vore', 'balance': 345.67}]

In [21]:
accounts_json['accounts'][0]

{'account': 100, 'name': 'Jones', 'balance': 24.98}

In [22]:
accounts_json['accounts'][1]

{'account': 200, 'name': 'Vore', 'balance': 345.67}

In [23]:
with open('accounts.json', 'r') as accounts:
    print(json.dumps(json.load(accounts), indent=4))
    
{
    "accounts": [
        {
            "account": 100,
            "name": "Jones",
            "balance": 24.98
        },
        {
            "account": 200,
            "name": "Vore",
            "balance": 345.67
        }
    ]
}

{
    "accounts": [
        {
            "account": 100,
            "name": "Jones",
            "balance": 24.98
        },
        {
            "account": 200,
            "name": "Vore",
            "balance": 345.67
        }
    ]
}

{'accounts': [{'account': 100, 'name': 'Jones', 'balance': 24.98},
  {'account': 200, 'name': 'Vore', 'balance': 345.67}]}

#### Self Check 9.5

In [24]:
import json

In [25]:
grades_dict = {'gradebook':
               [{'student_id': 1, 'name': 'Red', 'grade': 'A'},
                {'student_id': 2, 'name': 'Green', 'grade': 'B'},
                {'student_id': 3, 'name': 'White', 'grade': 'A'}]}

In [26]:
with open('grades.json', 'w') as grades:
    json.dump(grades_dict, grades)

In [27]:
with open('grades.json', 'r') as grades:
    print(json.dumps(json.load(grades), indent=4))
{
    "gradebook": [
        {
            "student_id": 1,
            "name": "Red",
            "grade": "A"
        },
        {
             "student_id": 2,
            "name": "Green",
            "grade": "B"
        },
        {
             "student_id": 3,
            "name": "White",
            "grade": "A"
        }
    ]
}

{
    "gradebook": [
        {
            "student_id": 1,
            "name": "Red",
            "grade": "A"
        },
        {
            "student_id": 2,
            "name": "Green",
            "grade": "B"
        },
        {
            "student_id": 3,
            "name": "White",
            "grade": "A"
        }
    ]
}

{'gradebook': [{'student_id': 1, 'name': 'Red', 'grade': 'A'},
  {'student_id': 2, 'name': 'Green', 'grade': 'B'},
  {'student_id': 3, 'name': 'White', 'grade': 'A'}]}

#### Chapter 9.8.2 - Try Statements

In [28]:
"""Simple exception handling example"""

while True:
    # attempt to convert and divide values
    try:
        number1 = int(input('Enter numerator: '))
        number2 = int(input('Enter denominator: '))
        result = number1 / number2
    except ValueError: #tried to convert non-numeric value to int
        print ('You must enter two integers\n')
    except ZeroDivisionError: #denominator was 0
        print ('You can not divide by zero!\n')
    else: # executes only if no exceptions occur
        print(f'{number1:.3f} / {number2:.3f} = {result:.3f}')
        break #terminate the loop

Enter numerator:  16/4

You must enter two integers

Enter numerator:  16
Enter denominator:  4

16.000 / 4.000 = 4.000

#### Self Check 9.8.2

In [29]:
def try_it(value):
    try:
        x=int(value)
    except ValueError:
        print(f'{value} could not be converted to an integer')
    else:
        print(f'int({value}) is {x}')

In [30]:
try_it(10.7)

int(10.7) is 10

In [31]:
try_it('Python')

Python could not be converted to an integer

#### Chapter 9.9 - Finally Clause

In [32]:
try:
    print('Try suite with no exceptions raised')
except:
    print('This will no execute')
else:
    print('Else executes because no exceptions in the try suite')
finally:
    print('Finally always executes')

Try suite with no exceptions raised
Else executes because no exceptions in the try suite
Finally always executes

In [33]:
try:
    print('Try suite that raises an exception')
    int('hello')
    print('This will not execute')
except ValueError:
    print('A ValueError occurred')
else: 
    print('Else will not execute because an exeption occurred')
finally:
    print('Finally always executes')

Try suite that raises an exception
A ValueError occurred
Finally always executes

#### Self Check 9.9

In [34]:
def try_it(value):
    try:
        x = int(value)
    except ValueError:
        print(f'{value} could not be converted to an integer')
    else:
        print(f'int({value}) is {x}')
    finally:
        print('Finally Executed')

In [35]:
try_it(10.7)

int(10.7) is 10
Finally Executed

In [36]:
try_it('Python')

Python could not be converted to an integer
Finally Executed

#### Chapter 9.12 - Intro to Data Science: Working with CSV Files

In [37]:
import csv
with open('accounts.csv', mode='w', newline='') as accounts:
    writer = csv.writer(accounts)
    writer.writerow([100, 'Jones', 24.98])
    writer.writerow([200, 'Vore', 345.67])
    writer.writerow([300, 'White', 0.00])
    writer.writerow([400, 'Stone', -42.16])
    writer.writerow([500, 'Rich', 224.62])
    writer.writerow([615, 'Smith', 1515.99])

In [38]:
with open('accounts.csv', 'r', newline='') as accounts:
    print(f'{"Account":<10}{"Name":<10}{"Balance":>10}')
    reader = csv.reader(accounts)
    for record in reader:
        account, name, balance = record
        print(f'{account:<10}{name:<10}{balance:>10}')

Account   Name         Balance
100       Jones          24.98
200       Vore          345.67
300       White            0.0
400       Stone         -42.16
500       Rich          224.62
615       Smith        1515.99

#### Self Check 9.12

In [39]:
import csv

In [40]:
with open ('grades.csv', 'w', newline='') as grades:
    writer = csv.writer(grades)
    writer.writerow([1, 'Red', 'A'])
    writer.writerow([2, 'Green', 'B'])
    writer.writerow([3, 'White', 'A'])

In [41]:
with open ('grades.csv', 'r', newline='') as grades:
    print(f'{"ID":<4}{"Name":<7}{"Grade"}')
    reader = csv.reader(grades)
    for record in reader:
        student_id, name, grade = record
        print(f'{student_id:<4}{name:<7}{grade}')

ID  Name   Grade
1   Red    A
2   Green  B
3   White  A